{% extends 'base.html' %}

{% block content %}
    <h1>My Tasks</h1>
    <table>
        {% for task in tasks_object_detail %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        {% empty %}
            <p>You have no tasks</p>
        {% endfor %}
    </table>
{% endblock content %}
{% load static %}
