{% extends 'base.html' %}

{% block content %}
    <h1>{{ projects_object_detail.name }}</h1>
    <p>{{ projects_object_detail.description }}</p>
    <h2>Tasks</h2>
    <p>
        <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
    <table>
        {% for task in projects_object_detail.tasks.all %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            </tbody>
        {% empty %}
            <p>This project has no tasks</p>
        {% endfor %}
    </table>
{% endblock content %}
{% load static %}
