{% extends 'base.html' %}

{% block content %}
    <h1>My Projects</h1>
    <p>
        <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
    {% for project in list_projects %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            </tbody>
        {% empty %}
            <p>You are not assigned to any projects</p>
        {% endfor %}
    </table>
{% endblock content %}
{% load static %}
